<div class="position-search-container">
    <div class="position-search">
        <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Search" [formControl]="searchText">
        </mat-form-field>
    </div>
    <div class="position-role">
        <mat-form-field class="full-width">
            <mat-select [formControl]="role">
                <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
